/*
	Ment to be combined with Twitter Bootstrap. 
	Written by: Roman Larionov.
*/

html, body {
	height: 100%;
	width: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	overflow-y: hidden;
}

/*
	===========================================================
	Core Navbar code.
*/

.navbar-roman {
    background-color: #333333;
}

.dropdown-menu {
    background-color: #f2f2f2 !important;
}

.dropdown-menu li {
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #428bca !important;
    color: #ffffff !important;
}

.navbar-brand:hover {
	color: #ffffff;
}

/*
====================================================================
	Navbar Dropdown stylings.
*/

/* Allows for expansion of dropdown on hover */
.nav .dropdown:hover .dropdown-menu{
    display: block;    
}

.nav .dropdown:hover {
	background-color: #333434;
}

.dropdown-menu {
	min-width: 0;
}

.navbar-roman a {
    color: #ffffff;
}

/*
	============================================================
	Footer code.
*/

.footer {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 70px;
	text-align: center;
	bottom: 0;	
	opacity: 1;
	background-color: rgba(20,20,20,0.2);
}


.footer div ul {
	list-style-type: none;
	padding-top: 20px;
	padding-left: 0 !important;
}

.footer div ul li {
	padding-left: 5px;
	display: inline;
}

/*
	============================================================
	Code for the middle of the page.
*/

.wrapper {			
	margin-top: 45px;
	height: 100%;
	width: 6500px; /* Hard coded width if js is disabled. */
	background-color: #E3E3E3;
}

.segment {
	height: 100%;
	width: 25%; /* Hard coded width if js is disabled. */
	float: left;
	margin-top: 30px;
	padding-bottom: 30px;
}

.segment .container {
	height: 100%;
}

/*
	=======================================================================
	Code for Home segment.
*/

.title {
	padding-bottom: 10px;
	margin-bottom: 40px;
}

.home-img-div {
	z-index: 2000;
	float: right;
}

.self-img {
	float: right;
	display: block;
	border: 1px solid #000000;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,1);
}

.home-section {
	height: 80%;
	margin: 20px 30px 50px 30px;
}

.home-body {
	height: 60%;
	width: 100%;
}

.about, .doing, .afraid {
	padding-bottom: 10px;
}
.about p, .doing p, .afraid p {
	padding-left: 20px;
}

.home-bottom {
	float: right;
}

.home-bottom a {
	color: #eeeeee;
}

.home-bottom a:hover {
	color: #eeeeee;
	text-decoration: none;
}

/*
	=======================================================================
	Portfolio segment code.
*/

#portfolio .well {
	height: 90%;
	width: 100%;
}

#portfolio .projects {
	height: 100%;
	width: 100%;
	display: table;
}

#portfolio .projects p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.projects .row {
	width: 100%;
	height: 100%;
}

.projects .row .col-xs-12 {
	height: 100%;
}

.tabula-rasa {
	height: 100%;
	width: 100%;
	display: flex;
}

.tabula-rasa div {
	margin: auto;
}

.tabula-rasa div h4, .tabula-rasa div a {
	text-align: center;
	text-decoration: none;
	color: black;
}

.tabula-rasa div span {
	padding-left: 20px;
}

.tabula-rasa img {

	height: 50%;
	width: 100%;
	max-height: 161px;
	max-width: 228px;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,1);
}

/*
	=======================================================================
	Resume segment code.
*/

#resume iframe {
	display: block;
	margin: 0 auto 0 auto;
	height: 90%;
	width: 100%;
	min-width: 540px;
	max-width: 760px;
	border: 0;
}

/*
	=======================================================================
	Contact Me segment code.
*/

.panel-heading, .panel-footer {
	text-align: center;
}

.contact-names {
	padding-bottom: 15px;
}

.panel textarea {
	resize: none;
	overflow: hidden;
	max-width: 800px;
	min-height: 50px;
	max-height: 500px;
}
